$main: #304357;
$main-lt: #6DBCDB;
$accent: #FF201D;
$grey: #D7DADB;

.header-container {
	overflow: hidden;
	background-color: white;
}
.header {
	padding: 20px;
	font-size: 5rem;
	color: $main;
	font-weight: bold;
	height: 75px;
	background-color: white;
	display: flex;
	align-items: center;
	padding: 0 20px;
	margin: 0;
	width: 100%;
	.header-text{
		&.animate {
			animation: HeaderTransition .6s 1 ease;
		}
	}
}

@keyframes HeaderTransition {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(-75px);
		opacity: 0;
	}
	50.1% {
		transform: translateY(75px);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}