$main: #304357;
$main-lt: #6DBCDB;
$accent: #FF201D;
$grey: #D7DADB;

#emailWorkspace {
	flex: 0 1 calc(100vw - 75px);
	.header {
		padding: 0;
		font-size: 5rem;
		color: $main;
		font-weight: bold;
		height: 75px;
		background-color: white;
		display: flex;
		align-items: center;
		padding: 0 20px;
		margin-bottom: 40px;
	}
	.container {
		width: calc(100% - 40px);
		margin: 0 auto;
		max-width: 1500px;
		
	}
}
