.slide-in-appear {
	opacity: 0;
	transform: translateY(200px);
	transition: opacity 0.4s ease, transform 0.4s ease;
}

.slide-in-appear.slide-in-appear-active {
	opacity: 1;
	transform: translateY(0);
}

.slide-in-enter {
	opacity: 0;
	transform: translateY(200px);
	transition: opacity 0.4s ease, transform 0.4s ease;
}

.slide-in-enter.slide-in-enter-active {
	opacity: 1;
	transform: translateY(0);
}

.slide-in-exit {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.4s ease, transform 0.4s ease;
}

.slide-in-exit.slide-in-exit-active {
	opacity: 0;
	transform: translateY(200px);
}