$main: #304357;
$main-lt: #6DBCDB;
$accent: #FF201D;
$grey: rgba(243,243,243,1);
$dark-grey: #242729;


html, body {
	font-size: 10px;
	background-color: $grey;
	color: $dark-grey;
}

#app {
	display: flex;
	.main {
		flex: 5 5 100%;
	}
}